spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    druid:
      boss:
        username: gn_boss_hb
        password: gn_boss_hb
        url: jdbc:oracle:thin:@10.0.250.178:1521/starboss
        driver-class-name: oracle.jdbc.OracleDriver
      mysql:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://10.0.228.117:13306/springbatch?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
        username: springbatch
        password: springbatch
        schema: classpath:org/springframework/batch/core/schema-mysql.sql
        initialization-mode: never
  batch:
    initialize-schema: never
    job:
      enabled: true
      names: study6-itemreader